$text_logo: 'Lobster', cursive;
$text_p: 'Dosis', sans-serif;
$text_title: 'Anton', sans-serif;
$color_icon_description: #48484a;
$background_black: #000000;
$background_graylight: #e2e2e2;
$text_center: center;
